body {
  background-image: linear-gradient(#118157, #f8f0e9);
  color: #afdb84;
  height: 100vh;
  margin: 0;
  font-family: "Roboto";
  text-shadow: 2px 2px 2px #23351a;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.img-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 200px;
}

.progress {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.progress-bar {
  background-color: #f8f0e9;
  height: 300px;
  margin: -50px 0;
  position: relative;
  width: 10px;
}

.progress-bar__filled {
  background-image: linear-gradient(
    #23351a,
    #118157,
    #23351a,
    #118157,
    #23351a,
    #118157
  );
  position: absolute;
  top: 0;
  width: 100%;
}

.tn-img,
.murphy-img,
.ut-img {
  filter: drop-shadow(4px 4px 4px #23351a);
  max-height: 100%;
  max-width: 100%;
  z-index: 1;
}

.us-img {
  border: 2px solid #23351a;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: absolute;
  z-index: 3;
  left: -28px;
}
